
.contact{

    h2{
        text-align: center;
        margin: 20px;
        font-size: 40px;
        text-transform: uppercase;
        color: #0A3641;
    }
}

form{
    display: flex;
    gap: 50px;
}

.form__left{
    width: 50%;
}

.form__right{
    width: 50%;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

}

label{
    color: #0A3641;
    font-weight: bold; 
    margin-bottom: 10px;
    display:inline-block;

}

textarea{
    width: 100%;
    margin-bottom: 10px;
}


.banner{
    background-color: #0A3641;
    padding: 20px;

    h1{
        color: white;
        font-size: 48px;;
        text-align: center;
    }

    button{
        background-color: #0A3641;
    }
}

@media screen and (max-width: 768px){
    form{
        display: inline;
        margin: 20px;
    }

    .form__right{
        width: 80%;
        margin: 20px;
    }

    .form__left{
        width: 80%;
        margin: 20px;
    }
    
    
}
